@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*core styling*/
body{
	 font-family: "Poiret One", Sacramento, "Cutive Mono";
	 font-size: 1.5em;
	 line-height: 1.5em;
	 text-align: center;
	 background: #090608;
	 color: #fff;	
}


img{
	display: block;
	width: 100%;
	height: auto;
	/*border-radius: 1em;*/
}

h1, h2, h3{
	font-family: "Poiret One";
	margin: 0;
	padding: .8em 0;
}

h2{
	font-size: 2em;
}

h3{
	font-size:1.5em;
}

h4{
	font-size: 1em;
	text-decoration: underline;
}

p{
	margin: 0;
	padding: 1em 0;
	font-family: "Cutive Mono";
	font-size: .6em;
}

.btn{
	font-size: 1em;
	/*margin: .5em .5em;*/
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: .2em .2em;
	/*transition-delay: .1;*/

}

.btn:hover{
	background: #242324;
	border-radius: 1em;
	padding: .2em;
	font-size: 1.05em;
	color: orange;

}

#header{
	min-height: 500px;
}

#header .logo{
	font-family: Sacramento;
	font-size: 1.5em;
	display: block;
	padding: 80px 0;
}

#header h1{
	padding: 100px 10px;

	/*padding-bottom: 0;*/
}

.content-wrap{
	padding: 0 .2em;
}

#about{
	background: #fff;
	color: #333;
	padding-bottom: 1em;
}

#about img{
	border-radius: 1em;
}

#edu{
	padding-bottom: 1em;
}

#edu .tech-logo{
	display: block;
	margin: 0 1em;
	border: #fff .2em solid;
	padding: .2em;
}

#edu .card{
	background: #fff;
	color: #333;
	padding: .2em .2em;
	border-radius: 1em;
	margin: .2em;
}

#edu .card img{
	border-radius: 1em;
	filter: brightness(130%) contrast(110%) saturate(120%);
}

ol{
	list-style: decimal;
	list-style-position: inside;
	font-family: "Cutive Mono";
	border: .05em #fff solid;
	font-size: .6em;
	min-height: 300px;

}

.user-story ol li{
	text-decoration-line: line-through;
	text-decoration-color: #333;
	/*display: inline-table;*/
}

#intern{
	background: #fff;
	color: #333;
	padding-bottom: 1em;
}

#intern ol{
	border-color: #333;
}

.card-content li{
	list-style-type: disc;
	list-style-position: inside;
	font-family: "Cutive Mono";
	border: .05em #fff solid;
	font-size: .6em;
}

#projects li{
	list-style-type: disc;
	list-style-position: inside;
	text-align: left;
	font-family: "Cutive Mono";
	border: .05em #fff solid;
	font-size: .6em;
	padding-left: 1em;
}

.intern-img{
	padding: 1em 0;
	display: inline-block;
	width: 300px;
	height: 150px;
	
}

#intern	.jack{
	padding-top: 1.5em;
}



#projects{
	padding-bottom: 1em;
}

#projects .card{
	background: #fff;
	color: #333;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.card-img img{
		display: inline-block;
		max-width: 400px;
		max-height: 250px;
		/*width: 250px;*/
		/*height: 250px;*/
	}

#intern img{
		display: inline-block;
		max-width: 400px;
		max-height: 250px;
		/*width: 250px;*/
		/*height: 250px;*/
	}

.acl{
		display: inline-block;
		width: 250px;
		height: 250px;
	}

#projects .btn{
	font-size: 1em;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 0.2em .2em;
	background: #333;
	border-radius: 2em;
	border: .2em #333 solid;

}
#projects .btn:hover{
		color: orange;
		font-size: 1.05em;
}

#footer img{
	width:40px;
	height:40px;
	border:0;
}
#footer{
	padding-bottom: 2em;
}
#footer a{
	display: inline-block;
	text-decoration:none;
	color: white;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 1.5em;
}

#footer a:hover { 
	background-color: #333;
	/*opacity: .8;*/
	border-radius: 1em;
	/*background-blend-mode: screen;*/

}

/*media query*/
@media(min-width: 700px){
	
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	#header .grid{
		grid-template-rows: 1fr 1fr;
	}
	#header .logo{
		display: inline-block;
		grid-column: 1/3;
		grid-row: 1;
		padding-top: .55em;
	}

	#header .top-nav{
		display: inline-block;
		font-size: .8em;
		grid-column: 3/-1;
		padding-top: 1em;
		padding-right: 1em;
	}
	
	#header a{
		float: right;
		padding: 0 .5em;
	}


	#header .intro{
		grid-column: 1/-1;
		grid-row: 2;
	}


	.content-title{
		grid-column: 3/5;
	}

	#about .about-img{
		grid-column: 3/5;
	}

	p{
		grid-column: 1/-1;
		padding: 2em 3em;
		/*font-size: 1.2em;*/
	}

	#about .benares{
		grid-column: 2/6;
	}
	
	#edu .tech-logo{
		grid-column: 2/6;
		/*padding: 0 3em;*/

	}

	.card{
		grid-column: span 3;
		/*display: grid;*/
		/*grid-template-rows: 1fr 1fr 1fr 1fr; */
		border: #333 .2em solid;
		padding: .2em;
		margin: .2em;
	}

	#projects .card{
		display: grid;
		grid-template-rows: 260px auto auto 60px;
	}
	
	.user-story, .lesson-learned{
		grid-column: span 3;
		/*font-size: 1.2em;*/
		/*font-weight: 700; */
	}
	
	.card-img{
		width: 100%;
		min-height: 280px;
		grid-row: 1/2;
	}
	
	/*.card-img img{
		display: inline-block;
		max-width: 400px;
		max-height: 250px;
		/*width: 250px;*/
		/*height: 250px;*/
	}*/

	/*.acl{
		display: inline-block;
		width: 250px;
		height: 250px;
	}*/
	
	.desription{
		display: block;
		grid-row: 2/3;
		padding-bottom: 1em;
	}
	.role{
		display: block;
		grid-row: 3/4;
		padding-bottom: 1em;

	}

	.card a{
		display: inline-block;
		grid-row-start: 4;
	}

	#footer h1, .social-links{
		grid-column: 2/6;
	}


}


















