@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body{
	
	background-color: black;
	background-attachment: fixed;
	font-size: 62.5%;
	margin:0;
}

header{
	padding: 20px 10px;
}

#logo{
	font-size: 1.5em;
	padding: 10px;
	color: white;
	text-align: center;
	width: 150px;
	height: 10px;
	border: .1px;
	border-style: solid;
	border-color: white;
	display: inline-block; 
}

#top-nav{
	padding: 10px;
	float: right;
	display: inline-block;
	padding-bottom: 5px;
}

#top-nav a{
	display: inline-block;
	text-decoration:none;
	color: white;
	padding: 5px 15px;
	font-weight: bold;
	font-size: 1.5em;
}

#top-nav a:hover { 
	background-color: #C7C9CB;
	opacity: .8;
}

#intro p{
	font-family: "Poiret One";
	color: white;
	display: block;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2em;
	margin-bottom: 50px;
}

#mephoto img{
	opacity: .6;
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 40%;
    background-blend-mode: lighten;
}

#mewhoami h1{
	display: block;
	font-size: 6em;
	font-family: 'Poiret One';
	color: white;
	left: 10%;
	right: 10%;
	text-align: center;
	top: 200px;
	position: fixed;
	
}

#mewhoami h4{
	display: block;
	font-weight: lighter;
	font-size: 2em;
	font-family: 'Poiret One';
	color: white;
	position: fixed;
	left:350px;
	margin-bottom: 10px;
	top:150px;
}

.footer{
	height: 50px;
	margin-top: 50px;
}

.footer p{
	display: inline-block;
	padding: 20px;
	width: 20%;
	color: white;
	text-align: center;
	font-size: 1.5em;
}

#social-links{
	padding: 10px;
	float: right;
	display: inline-block;
}

.footer a{
	display: inline-block;
	text-decoration:none;
	color: white;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 1.5em;
}

.footer img{
	width:30px;
	height:30px;
	border:0;
}

.footer a:hover { 
	background-color: #C7C9CB;
	opacity: .8;
	background-blend-mode: screen;
}

